.card-header h4 {
    width: 100%;
    text-align: center !important;
}
.contador-modern {
    font-family: 'Montserrat', Arial, sans-serif;
    margin-bottom: 1.5rem;
}
.contador-modern .contador-numero {
    /* font-size: 2.5rem; */
    font-weight: 600;
    color: #444;
    letter-spacing: 2px;
    display: block;
    line-height: 1;
}
.contador-modern .contador-label {
    /* font-size: 1rem; */
    color: #888;
    margin-top: 0.2rem;
}
.contador-modern .contador-divisor {
    /* font-size: 2rem; */
    color: #bbb;
    margin: 0 0.5rem;
    font-weight: 300;
    user-select: none;
}

/* Estilo para a imagem quadrada */

.img-quadrada {
    width: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: center;
    border-radius: 0.3rem;
    display: block;
}