{% load static %}
{% load sass_tags %}

<!-- footer start-->
{% comment %} <footer class="footer {% if request.path == '/footer_dark' %} footer-dark {% elif request.path == '/footer_fixed' %}footer-fix{% endif %}"> {% endcomment %}
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 footer-copyright text-center">
        <p class="mb-0">Copyright <span class="year-update"> </span> © CRIATIVA DIGITAL - V 1.7.4  </p>
      </div>
    </div>
  </div>
</footer>