{% extends 'frontend/base.html' %}
{% load static %}

{% block title %}{{ page_title }}{% endblock title %}

{% block content %}

  <!-- Opiniões -->
  <section class="section-custom border-top border-bottom border-light" id="opiniao">
    <div class="container">
      <div class="row g-4">
        {% for post in posts %}
          <div class="col-lg-4">
            <article class="card rounded-3 border-0 shadow-lg">
              <!-- Badge (opcional: categoria ou tag) -->
              {% if post.categoria %}
                <div class="badge text-bg-dark badge-label position-absolute top-0 start-0 m-3">{{ post.categoria }}</div>
              {% endif %}

              <!-- Card image -->
              {% if post.imagem %}
                <a class="link-primary fw-semibold" href="{% url 'blog_frontend:post_detalhe' post.slug %}"><img class="card-img-top rounded-top-3" src="{{ post.imagem.url }}" alt="{{ post.titulo }}" /></a>
              {% else %}
                <img class="card-img-top rounded-top-3" src="{% static 'frontend/assets/images/blog/blog-default.jpg' %}" alt="{{ post.titulo }}" />
              {% endif %}

              <!-- Card Body -->
              <div class="card-body">
                <!-- Title -->
                <h6 class="card-title fs-lg lh-base mb-2"><a href="{% url 'blog_frontend:post_detalhe' post.slug %}" class="link-reset">{{ post.titulo }}</a></h6>
                <p class="mb-3 text-muted">{{ post.resumo }}</p>
                <p class="d-flex flex-wrap gap-3 text-muted mb-0 mt-3 align-items-center fs-base">
                  <span><i class="ti ti-calendar fs-md"></i> {{ post.updated_at|date:'d M Y' }}</span>
                </p>
              </div>
              <!-- Card footer -->
              <div class="card-footer bg-transparent d-flex justify-content-between border-0">
                <a class="link-primary fw-semibold" href="{% url 'blog_frontend:post_detalhe' post.slug %}">
                  Leia mais
                  <i class="ti ti-arrow-right"></i>
                </a>
              </div>
            </article>
          </div>
        {% empty %}
          <div class="col-12 text-center text-muted">Nenhuma opnião encontrado.</div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}