{% extends 'frontend/base_breve.html' %}

{% load static i18n %}

{% block title %}EM BREVE{% endblock title %}

{% block extra_css %}
<style>
    .bg-cavalo {
        background-image: url("{% static 'frontend/images/cavalo2.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        min-height: 300px;
        border-radius: 1rem;
    }
</style>
{% endblock extra_css %}

{% block content %}

<div class="auth-box d-flex align-items-center">
  <div class="container-xxl">
    <div class="row align-items-center justify-content-center">
      <div class="col-xl-10">
        <div class="card rounded-3 p-0 rounded-4">
          <div class="card-body p-0">
            <div class="row justify-content-between g-0">
              <div class="col-lg-7">
                <div class="card mb-0 border-0 rounded-4">
                  <div class="card-body">
                    <div class="auth-brand text-center mb-3">
                      <a href="/" class="logo-dark">
                        <img src="{% static 'frontend/images/logo-virtual-stables-site.png' %}" alt="dark logo" height="120">
                      </a>
                      <a href="/" class="logo-light">
                        <img src="{% static 'frontend/images/logo-virtual-stables-site.png' %}" alt="logo" height="120">
                      </a>
                    </div>

                    <div class="p-2 text-center">

                      <h3 class="fw-bold my-2">EM BREVE NOVO SITE</h3>
                      <p class="text-muted mb-0">Estamos criando algo incrível. Fique atento!</p>

                    </div>

                    <p class="text-center text-muted mt-5 mb-0">
                      © 2025 - by <span class="fw-bold">CRIATIVA DIGITAL</span>
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 d-none d-lg-block">
                <div class="auth-cover rounded-4 bg-cavalo"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_javascript %}

<script src="{% static 'js/pages/coming-soon.js' %}"></script>

{% endblock extra_javascript %}
