{% load static %}
<footer class="section-custom section-footer br-footer pb-2">
  <div class="container">
    <div class="row g-4 justify-content-between">
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <img src="{% static 'frontend/images/logo-virtual-stables-site-w.png' %}" alt="logo" height="80" />
          <p class="mt-3 fs-sm text-white">Leilões virtuais com a mais alta qualidade e profissionalismo!</p>
        </div> <!-- end col -->

        <div class="col-lg-6">
          <div class="row g-4">
            <div class="col-12 col-md-4 ms-auto">
              <h5 class="text-white mb-4 ps-2 text-end">REDE SOCIAIS</h5>
              <div class="d-flex mt-4 mb-2 justify-content-end">
                <a href="#!" class="btn btn-sm btn-icon rounded-circle btn-primary" title="Facebook"><i data-lucide="facebook" class="fs-sm"></i></a>
                <a href="#!" class="btn btn-sm btn-icon rounded-circle btn-primary" title="Twitter-x"><i class="ti ti-brand-x fs-sm"></i></a>
                <a href="#!" class="btn btn-sm btn-icon rounded-circle btn-primary" title="Instagram"><i data-lucide="instagram" class="fs-sm"></i></a>
                <a href="#!" class="btn btn-sm btn-icon rounded-circle btn-primary" title="WhatsApp"><i data-lucide="dribbble" class="fs-sm"></i></a>
              </div>
            </div>
          </div> <!-- end row -->
        </div> <!-- end col -->
      </div> <!-- end row -->
    </div> <!-- end row -->

    <div class="row mt-5">
      <div class="col-12 text-center">
        <p class="mb-4 text-white">
          <script>
            document.write(new Date().getFullYear())
          </script> Virtual Stables By <span class="fw-semibold"><a href="https://criativa.digital/" target="_blank" class="text-white">Criativa Digital - V 1.0.27</a></span>
        </p>
      </div>
    </div> <!-- end row -->
  </div> <!-- end container -->
</footer>