{% extends 'shared/base.html' %}

{% block title %}{{title_email}} - {{name_site}}{% endblock %}

{% block message %}
    <p style="margin: 0 0 20px 0;">
        Seu lance de <span class="highlight">R$ {{ valor_lance }}</span> 
        no cavalo <span class="highlight">{{ cavalo }}</span> foi confirmado!
    </p>
    
    <p style="margin: 0 0 20px 0;">
        Acompanhe o leilão para saber se seu lance permanece como o maior.
    </p>
{% endblock %}

{% block button %}
    <div class="button-container">
        <a href="{{ url_site }}" class="btn">Acompanhar Leilão</a>
    </div>
{% endblock %}