{% extends 'backend/shared/base.html' %}
{% load static %}

{% block css_custom %}
  <link rel="stylesheet" type="text/css" href="{% static 'backend/assets/css/vendors/quill.snow.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'backend/assets/css/vendors/quill.bubble.css' %}" />
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-header border-l-primary border-3">
          <h5 class="card-title">{{ page_subtitle }}</h5>
        </div>
        <div class="card-body">
          <!-- Exibe mensagens de erro ou sucesso -->
          {% if messages %}
              {% for message in messages %}
                  <div class="alert alert-{% if message.tags == 'success' %}success{% else %}danger{% endif %} alert-dismissible fade show">
                      <button aria-hidden="true" data-bs-dismiss="alert" class="btn-close" type="button"></button>
                      {{ message }}
                  </div>
              {% endfor %}
          {% endif %}
          <form method="post" class="form-horizontal">
            {% csrf_token %}

            <!-- Dados do Usuário -->
            <div class="ibox">
                <div class="ibox-title pb-3">
                    <h3>Dados de Acesso</h3>
                </div>
                <div class="ibox-content">
                    <div class="form-group row pb-2">
                        <label class="col-lg-3 col-form-label">{{ user_form.nome_completo.label }}</label>
                        <div class="col-lg-9">
                            {{ user_form.nome_completo|add_class:"form-control" }}
                            {% if user_form.nome_completo.help_text %}
                                <small class="form-text text-muted">{{ user_form.nome_completo.help_text }}</small>
                            {% endif %}
                            {% if user_form.nome_completo.errors %}
                                <span class="text-danger">{{ user_form.nome_completo.errors }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row pb-2">
                        <label class="col-lg-3 col-form-label">{{ user_form.username.label }}</label>
                        <div class="col-lg-9">
                            {{ user_form.username|add_class:"form-control" }}
                            {% if user_form.username.help_text %}
                                <small class="form-text text-muted">{{ user_form.username.help_text }}</small>
                            {% endif %}
                            {% if user_form.username.errors %}
                                <span class="text-danger">{{ user_form.username.errors }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row pb-2">
                        <label class="col-lg-3 col-form-label">{{ user_form.email.label }}</label>
                        <div class="col-lg-9">
                            {{ user_form.email|add_class:"form-control" }}
                            {% if user_form.email.help_text %}
                                <small class="form-text text-muted">{{ user_form.email.help_text }}</small>
                            {% endif %}
                            {% if user_form.email.errors %}
                                <span class="text-danger">{{ user_form.email.errors }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row pb-2">
                        <label class="col-lg-3 col-form-label">{{ user_form.password1.label }}</label>
                        <div class="col-lg-9">
                            {{ user_form.password1|add_class:"form-control" }}
                            {% if user_form.password1.help_text %}
                                <small class="form-text text-muted">{{ user_form.password1.help_text }}</small>
                            {% endif %}
                            {% if user_form.password1.errors %}
                                <span class="text-danger">{{ user_form.password1.errors }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group row pb-2">
                        <label class="col-lg-3 col-form-label">{{ user_form.password2.label }}</label>
                        <div class="col-lg-9">
                            {{ user_form.password2|add_class:"form-control" }}
                            {% if user_form.password2.errors %}
                                <span class="text-danger">{{ user_form.password2.errors }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Dados do Perfil -->
            <div class="ibox">
                <div class="ibox-title pb-3">
                    <h3>Dados Pessoais</h3>
                </div>
                <div class="ibox-content">
                    {% for field in perfil_form %}
                        <div class="form-group row pb-2">
                            <label class="col-lg-3 col-form-label">{{ field.label }}</label>
                            <div class="col-lg-9">
                                {{ field|add_class:"form-control" }}
                                {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text }}</small>
                                {% endif %}
                                {% if field.errors %}
                                    <span class="text-danger">{{ field.errors }}</span>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- Botão de Envio -->
            <div class="form-group row pb-2">
                <div class="col-lg-10 mt-3">
                    <button class="btn btn-primary btn-lg" type="submit">Fazer meu cadastro</button>
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scriptcontent %}
  <script src="{% static 'backend/assets/js/editors/quill.js' %}"></script>
  <script src="{% static 'backend/assets/js/custom-add-product3.js' %}"></script>
  <script>
    // Editor para descrição
    const quillDescricao = new Quill('#editor', {
      theme: 'snow'
    })
    quillDescricao.root.innerHTML = document.getElementById('{{ form.descricao.id_for_label }}').value
    const descricaoInput = document.getElementById('{{ form.descricao.id_for_label }}')
       
    const form = document.querySelector('form')
    form.addEventListener('submit', function (event) {
      descricaoInput.value = quillDescricao.root.innerHTML
      termosInput.value = quillTermos.root.innerHTML
    })
  </script>
{% endblock %}
